body{
    background: linear-gradient(skyblue,white);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    background-color: whitesmoke;
    width: 400px;
    padding: 20px;
    height: auto;
    border-radius: 5px;
    box-shadow: 4px 3px;
}
#message-output{
    word-wrap: break-word;
}
#side{
    padding: 10px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
    border-color:  lightgrey;
}
#Submit{
    padding: 10px;
    outline: none;
    border-color:  lightgrey;
    border-radius: 5px;
}
#msg-input{
    padding: 10px;
    width: 80%;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border-color: lightgray;
}
@media(max-width:480px){
     .quote input{
        width:70%;
     }
     .quote h1{
        font-size:large;
     }
     .quote{
        width:200px;
     }
}